
body, html {
	font-family: 'Roboto', sans-serif;
	    background: #e5e5e5;
}

.f-row {
    box-shadow: 1px 1px 2px #777;
    padding: 40px 20px;
}


.mainMenuWrapper {
	display: flex;
	background: #fff;
	justify-content: space-between;
	align-items: center;
	padding: 0px 20px;
	height: 40px;
	margin-bottom: 40px;
    box-shadow: 1px 1px 2px #787777;
}

.mainMenuItem {
	 padding: 12px 10px;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.mainMenuItem:hover {
	text-decoration: none;
    color: #fff;
    background: #2b689d;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
    -moz-box-shadow: inset 0 0 10px #264968;
    -webkit-box-shadow: inset 0 0 10px #264968;
    box-shadow: inset 0 0 10px #264968;
}

.mainMenuItem-active {
	text-decoration: none;
    color: #fff;
    background: #2b689d;
    -moz-box-shadow: inset 0 0 10px #264968;
    -webkit-box-shadow: inset 0 0 10px #264968;
    box-shadow: inset 0 0 10px #264968;
}

.form-grouopFlex {
    display: flex;
    align-items: center;
}

.routesSearch {
	display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    background: #fff;
    box-shadow: 1px 1px 2px #787777;
    /*border-radius: 3px;*/
}

.searchItem {
    padding: 5px 5px;    
    border-bottom: 1px solid rgb(190, 190, 190);
    display: inline-flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
    margin: 0px 5px;
    /*border-radius: 3px;*/
    /*background: #f8f8f8;*/
}
.SearchField {
	border: none;
    /*background: #f8f8f8;*/
    width: 100%;
}
.SearchField:focus {
	outline: none;
}

.SearchButton {    
	color: rgb(190, 190, 190);
}

.AddRouteButton {    
	border: 1px solid rgb(190, 190, 190);
}

.addRouteForm {
	display: flex;
	flex-direction: column;
    padding: 40px 20px;
    background: #fff;
    box-shadow: 1px 1px 2px #787777;
    /*border-radius: 3px;*/
}

.inputItem {
	position: relative;
	margin: 10px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.intputItem-marginBot {
	margin-bottom: 55px;
}

.inputLabel {
    width: 150px;
    text-align: right;
    padding-right: 10px;
    margin: 3px 0px;
}

.inputText {
    /*background: #f8f8f8;*/
    /*border-radius: 3px;*/
    font-size: 15px;
    border: none;
    border-bottom: 1px solid rgb(190, 190, 190);
	width: calc(100% - 150px);
	padding-left: 10px;
	height: 30px;
}

.inputText:focus {
    outline: none;
}

.chekboxGroup {
	display: flex;
	width: calc(100% - 150px);
	/*padding-left: 10px;*/
}

.inputCheckbox {
	font-weight: bold;
	padding: 5px 10px;
	/*background: #f8f8f8; */
	margin-right: 10px;
    /*border-radius: 3px;*/
	border: 1px solid rgb(190, 190, 190);
    cursor: pointer;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.inputCheckbox:hover {
	border: 1px solid rgb(39, 58, 75);
    color: #fff;
    background: #2b689d;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.inputCheckbox-active {
	border: 1px solid rgb(39, 58, 75);
    color: #fff;
    background: #2b689d;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.gj-datepicker {
	width: calc(100% - 150px);
}


.gj-datepicker>input:focus {
	border: none;
}

.searchItem > .gj-datepicker {
	width: 100%;
	padding: 0px;
}

.searchItem > .gj-datepicker input {
	padding: 2px 0px;
}

.gj-icon {
	margin-top: 4px;
    margin-right: 4px;
}

.day {
	text-align: center;
	cursor: pointer;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.day:hover {
    color: #fff;
    background: #2b689d;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.datepicker-days{
	padding: 5px;
}

.stopsForm {
    position: relative;
	border-collapse: collapse;
	/*border-radius: 3px;*/
	width: calc(100% - 150px);
	background: #f8f8f8; 
	border: 1px solid rgb(190, 190, 190);
}

.stopsForm tr{
	/*border: 1px solid rgb(190, 190, 190);*/
}

.stopsForm th{
	border: 1px solid rgb(190, 190, 190);
	font-size: 14px; 
	padding: 5px;
}

.stopsForm td{
	text-align: center;
	padding: 0px;
	border: 1px solid rgb(190, 190, 190);
	font-size: 14px; 
	/*padding: 5px;*/
}

.stopsForm td>input{
	width: 100%;
	border: none;
	padding: 5px;
}
.stopsForm td>input:focus{
	outline: none;
}

.deleteRow {
	cursor: pointer;
	background: #fff;
}

.deleteRow:hover {
	background: #fff;
}

.addRow {
	cursor: pointer;
    height: 32px;
    padding: 5px 10px;
    text-align: center;
    position: absolute;
    background: #2b689d;
    border: 1px solid #273a4b;
    font-size: 15px;
    color: #fff;
    right: 0px;
    bottom: -45px;
}

.inputActions {
	margin-top: 20px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.inputActions>div {
	cursor: pointer;
	padding: 
    height: 32px;
    padding: 5px 10px;
    background: #2b689d;
    border: 1px solid #273a4b;
    color: #fff;
}

.errorMessage {
	color: red;
	margin-right: 10px;
}

.routesHolder {
	/*margin-top: 30px;*/
    display: flex;
    /*justify-content: space-between;*/
    /*align-items: center;*/
    /*padding: 8px 20px;*/
    margin-bottom: 40px; 
    flex-direction: column;
}

.routeWrapper {
    position: relative;
	margin-top: 20px;
    background: #fff;
    box-shadow: 1px 1px 2px #787777;
}

.routeInfo {
	padding: 10px 30px;
    border-bottom: 1px solid #bebebe;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.routeStops {
	padding: 10px 30px;
	display: flex;
}

.routeStops > div {
	cursor: pointer;
	width: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.SingleStop-active .routeStops-click  {
	background: #333;
}

.routeStops-click {
	margin-top: 10px;
	height: 12px;
	width: 12px;
	background: rgb(190, 190, 190);
	border-radius: 50px;
	position: relative;
	z-index: 1;
}

.routeStops-click_active {
	background: #2b689d;
}

.routeStops-line {
	pointer-events: none;
    position: absolute;
    width: calc(50% - 12px);
    width: 88px;
    height: 2px;
    background: #2b689d;
    background: rgb(190, 190, 190);
    top: 5px;
    right: 12px;
}

.routeStops-line_active {
	background:  #2b689d;
}

.WeakDayHolder {
	display: flex;
}

.WeakDayHolder > div {
	margin: 0px 2px;
	/*padding: 5px;*/
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	background: #2b689d;
	color: #fff;
	font-size: 12px; 
}
/*.routeStops > div:hover  > .routeStops-click{
	background: #333;
}*/

.ApplicationFormHolder {    
	position: relative;
	display: none;
	padding: 10px 50px;
    border-top: 1px dashed #bebebe;
}

.ApplicationFormHolder > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.ApplicationFormHolder > span {
    text-align: center;
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    width: 25px;
    height: 100%;
    background: #b1b1b1;
    line-height: 50px;
}

.ApplicationFormHolder > div > span >  input{    
	/*background: #dce1e5;*/
    padding-left: 6px;
    width: 100px;
    margin-left: 10px;
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #bebebe;
}

.ApplicationFormHolder .PassangerName {  
font-weight: bold;  
    width: 160px;
    display: inline-block;
}

.ApplicationFormHolder > div > div{    
    cursor: pointer;
    padding: height: 32px;
    padding: 5px 10px;
    background: #2b689d;
    border: 1px solid #273a4b;
    color: #fff;
}

.routeAction {
    height: 26px;
    width: 26px;
    position: absolute;
    left: -34px;
    text-align: center;
    padding-top: 4px;
    background-color: #fff;
    border-bottom: 1px solid #bebebe;
    border-right: 1px solid #bebebe;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
    cursor: pointer;
}

.actionDelete:hover {
    /*color: #fff;*/
    background: #e87878;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

